.info {
  &__head {
    border-bottom: 1px solid #eceaf2;
    padding: 20px 27px;
    &_name {
      font-weight: 600;
      font-size: 18px;
      color: #2e2d35;
    }
    &_mail {
      font-weight: 325;
      font-size: 13px;
      color: #918d9a;
    }
  }
  &__body {
    padding: 20px 27px;
  }
}

.box {
  padding: 0px 120px 0px 20px;
}
