.title {
  font-weight: 600;
  font-size: 30px;
  color: #2e2d35;
  margin-bottom: 30px;
}

.left {
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  border-right: 1px solid #efedf6;
  height: 100vh;

  &__nav {
    margin-top: 52px;

    &_item {
      padding: 22px 72px;
      cursor: pointer;
      &.active {
        background: #f8f8fa;
      }
      &.active a {
        color: #474351;
      }
      a {
        font-weight: 350;
        font-size: 16px;
        color: #918d9a;
      }
    }
  }
}

.users {
  &__list {
    &_card {
      width: 570px;
      padding: 23.5px 30px 32px;
      background: #fff;
      border: 1px solid;
      margin-bottom: 30px;
      box-shadow: 0px 4px 10px rgba(64, 40, 154, 0.05);
      border-radius: 4px;
      border: 1px solid #eceaf2;
    }
  }
}

.user {
  &__name {
    font-weight: 350;
    font-size: 20px;
    color: #474351;
    cursor: pointer;
  }
  &__city {
    font-weight: 325;
    font-size: 14px;
    color: #918d9a;
  }
  &__btn--container {
    margin-top: 19px;
  }
  &__btn {
    border: 0;
    background: transparent;
    padding: 0;
    font-weight: 325;
    font-size: 16px;
    color: #f25b24;
  }
}

.user-info {
  width: 376px;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  border-left: 1px solid #efedf6;
  height: 100vh;
  & > * {
    padding: 20px 27px;
  }
  &__head {
    border-bottom: 1px solid #eceaf2;
  }
  &__body > * {
    display: flex;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 18px;
    color: #2e2d35;
  }
  &__mail {
    font-weight: 325;
    font-size: 13px;
    color: #918d9a;
  }
  &__btn {
    background: #f25b24;
    border-radius: 4px;
    padding: 13px 30px;
    display: flex;
  }
  & .btn {
    &__icon {
      margin-right: 10px;
    }
    &__text {
      font-weight: 600;
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.5px;
    }
  }
  & .info {
    &__title {
      font-size: 15px;
      font-weight: 325;
      min-width: 70px;
      color: #918d9a;
    }
    &__content {
      font-size: 15px;
      font-weight: 600;
      margin-left: 15px;
      color: #2e2d35;
    }
    &__icon {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      & path {
        fill: #f25b24;
        fill-opacity: 1;
      }
    }
  }
}

.posts {
  &__list {
    &_card {
      position: relative;
      width: 570px;
      padding: 21px 30px;
      background: #fff;
      border: 1px solid;
      margin-bottom: 30px;
      box-shadow: 0px 4px 10px rgba(64, 40, 154, 0.05);
      border-radius: 4px;
      border: 1px solid #eceaf2;
      height: auto;
    }
  }
}

.post {
  &__entering {
    animation: openBlock 1.5s forwards;
  }
  &__exiting {
    animation: openBlock 1.5s reverse;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #474351;
    position: relative;
    margin-bottom: 12px;
    &::before {
      content: '';
      width: 100%;
      height: 1px;
      background: #eceaf2;
      position: absolute;
      bottom: -12px;
      left: 0;
    }
  }
  &__text {
    font-weight: 325;
    font-size: 16px;
    color: #474351;
    margin-top: 24px;
  }
  &__btn--container {
    margin-top: 12px;
  }
  &__btn {
    border: 0;
    background: transparent;
    padding: 0;
    font-weight: 325;
    font-size: 16px;
    color: #f25b24;
  }
}

.comment--block {
  animation: showComment 1s forwards;
  margin-top: 26px;
}

.comment {
  margin-bottom: 18px;

  &__title {
    font-weight: 350;
    font-size: 16px;
    color: #474351;
    line-height: 21px;
  }
  &__text {
    font-weight: 325;
    font-size: 14px;
    color: #918d9a;
  }
}

@keyframes showComment {
  0% {
    opacity: 0;
    transition: opacity 2s;
  }
  100% {
    opacity: 1;
    transition: opacity 2s;
  }
}

@keyframes openBlock {
  0% {
    max-height: 300px;
    transition: all 2s;
  }
  100% {
    max-height: 1000px;
    transition: all 2s;
  }
}
